<div class="wrapper">
    <div class="body">
        <img class ="logo"src="../../../assets/image/login.png" alt="Lgin">
        <h1>Login</h1>
        <form>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" placeholder="name@example.com">
                <label >Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" placeholder="Password">
                <label >Password</label>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary btn-lg" type="button">Login</button>
              </div>
              <p clas="mb-3">No tienes cuenta?<a routerLink="/register-user">Sing in</a></p>
              <a class="mb-3" routerLink="/recover-pass">¿Olvidaste tu contraseña?</a>
        </form>
    </div>
</div>